<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">

    <title>Dev Tools</title>
    <style>
        html, body {
          height: 100%;
          margin: 0;
        }
      
        .page-container {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }
      
        .content-wrapper {
          flex-grow: 1;
        }
      </style>
      

  </head>
  <body>
    <div class="page-container">
    <header>
      <%- include('layout') %>
    </header>
    <div class="content-wrapper">
    <main class="container mt-5">
    <section id="hero" class="jumbotron text-center">
    <h1 class="display-4">Welcome to <b>blue-tools!</b></h1>
    <p class="lead">You can find some useful tools below.</p>
    </section>

    <section id="services" class="my-5">

    <h2 class="mb-3">Products</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
            
            <div class="card-body">
                <h5 class="card-title">Encode/Decode Base64</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"><a href="encdec" class="btn btn-primary">Launch</a></small>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            
            <div class="card-body">
                <h5 class="card-title">Format JSON/XML</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"><a href="format" class="btn btn-primary">Launch</a></small>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            
            <div class="card-body">
                <h5 class="card-title">Code Review</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary"><a href="#" class="btn btn-primary">Launch</a></small>
            </div>
            </div>
        </div>
        </div>
        <a class="btn bg-dark text-white mt-3" href="products">More Tools...</a>
    </section>
   


    </main>
</div>
    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
        <p>&copy; 2023 My Landing Page. All Rights Reserved.</p>
        </div>
    </footer>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>

