<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="encdec">Base64 Encode/Decode</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="format">JSON/XML Format</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Code Review</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Log Review</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Calculator</a>
    </li>
  </ul>
  <hr>